bin/
obj/
*.user
*.suo
*.cache
.vs/
*.vscode/
*.nupkg
*.log
TestResults/
_ReSharper*/
*.dbmdl
src/*/appsettings.json
src/*/appsettings.*.json

.idea/

packages/
/NotificationService/appsettings.json
/NotificationService/appsettings.Development.json
